@use '../../styles/variables' as *;
.add-recepie {
    &__title {
        color: $bgcolor;
        font-size: 25px;
        font-weight: 600;
        text-align: center;
    }
    &__descr {
        margin-top: 40px;
        color: $bgcolor;
        text-align: center;
        font-size: 16px;
        font-weight: 500;
    }
}

@media screen and (max-width: 767px) {
    .add-recepie {
        &__descr {
            margin-top: 20px;
        }
    }
}