.searchForm {
    &__input-wrapper {
        position: relative;
        display: inline-block;
        border-radius: 10px;
    }
    &__searchByName {
        padding: 4px 20px 4px 45px;
        border-radius: 6px;
        background-color: #EDEDED;
        width: 235px;
        border: none;
        font-weight: 400;
        font-size: 14px;
        color: #303030;
    }
    &__searchBtn {
        position: absolute;
        top: 50%;
        bottom: 0;
        left: 20px;
        transform: translateY(-50%);
        width: 18px;
        height: 18px;
        border: none;
        border-radius: 10px 0px 0px 10px;
        background-color: transparent;
        cursor: pointer;
        transition: background-color 0.3s ease, border-color 0.3s ease;
        &:hover {
            .searchForm__searchBtn-icon {
                fill: white;
                transition: fill 0.3s ease;
            }
        }
    }
}
