@use '../../styles/variables' as *;
.recipe-card {
    width: 100%;
    max-width: 320px;
    min-width: 250px;
    position: relative;
    &__link {
        display: flex;
        flex-direction: column;
        padding: 15px;
        height: 100%;
        background: #FFFFFF;
        box-shadow: 0px 0px 3px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
        border-radius: 20px;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        &:hover {
            .recipe-card__img-wrapper:after {
                opacity: 0.1;
            } 
            .recipe-card__image {
                transform: scale(1.03);
            }
        }
    }
    
    &.favorite  {
        .recipe-card__favorite-btn svg path {
            fill: yellow;
        }
    }
    &__current-category {
        position: absolute;
        left: 30px;
        top: 28.5px;
        display: inline-flex;
        padding: 10px 12px;
        align-items: center;
        font-size: 13px;
        font-style: normal;
        font-weight: 500;
        line-height: 9px;
        border-radius: 10px;
        background-color:#D24A34;
        color: #FDFDFD;
    }
    &__img-wrapper {
        flex-basis: 290px;
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: black;
            opacity: 0;
            transition: 0.3s ease-out opacity;
        }
    }
    &__image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        transform: scale(1.01);
        transition: 0.3s ease-out transform;
    }
    &__content-text {
        flex-basis: calc(100% - 290px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        margin-top: 15px;
        font-weight: 700;
        font-size: 18px;
        line-height: 24px;
        overflow: hidden;
        color: $text-color;
    }
    &__timer {
        display: block;
        margin-top: 10px;
        padding-left: 25px;
        position: relative;
        font-weight: 500;
        font-size: 15px;
        color: $text-color;
        &.active {
            &:after {
                content: '';
                position: absolute;
                right: 50%;
                left: 0px;
                width: 20px;
                height: 20px;
                background: url('../../assets/icons/timer-line2.svg') center center no-repeat;
            }
        }
    }

    &__more {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    &__more-link{
        padding: 7px 20px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: black;
        background-color: white;
        cursor: pointer;
        transition: 0.1s ease-in-out background-color, 0.1s ease-in-out color;
        &:hover {
            background-color: black;
            color: white;
        }
    }
    &__subtitle {
        flex-shrink: 0;
    }
    
    &__content-descr {
        padding: 20px 0;
        line-height: 130%;
        font-size: 18px;
    }
    &__favorite-btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 33px;
        height: 33px;
        right: 25px;
        top: 25px;
        border-radius: 6px;
        border: none;
        background-color: $accent-color;
        z-index: 2;
        cursor: pointer;
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 21px;
            height: 21px;
            transform: scale(1.01);
            background: url('../../assets/icons/favorites/Heart.svg') center center/cover no-repeat;
            transition: 0.2s ease-out transform;
        }
        &:hover {
            &:after {
                transform: scale(1.1);
            }
        }
        &.active {
            &:after {
                background: url('../../assets/icons/favorites/Heart_hover.svg') center center/cover no-repeat;
            }
        }
    }

    .product-tags {
        position: relative;
        margin-top: 20px;
        display: flex;
        gap: 5px;
        overflow: hidden;
        list-style-type: none;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 34px;
            height: 100%;
            background: linear-gradient(270deg, #FFFFFF 0%, #FFFFFF 22.4%, rgba(255, 255, 255, 0) 95.59%);
        }
        &__item-header {
            display: flex;
            align-items: center;
        }
        &__item {
            flex-shrink: 0;
            position: relative;
            min-width: 50px;
            font-size: 13px;
            font-weight: 500;
            text-align: center;
            color: $accent-color;
            line-height: 9px;
            padding: 10px 12px;
            border: 1px solid $accent-color;
            border-radius: 10px;
            cursor: default;
        }
    }
}
