@use '../../../../../../styles/variables' as *;
:root {
    --unitSelectHeight: auto;
}
.sort {
    margin-left: auto;
    display: inline-block;
    &-unit {
        position: relative;
        &.active {
            .sort-unit__custom-fields {
                display: flex;
            }
            .sort-unit__open-btn::after {
                transform: translateX(-50%) translateY(-50%) rotate(0deg);
            }
        }
        &__content {
            display: flex;
            align-items: center;
            gap: 27px;
        }
        &__list {
            display: flex;
            padding: 0;
            margin: 0;
            row-gap: 15px;
            column-gap: 10px;
            list-style-type: none;
        }
        &__item {
            position: relative;
            min-width: 50px;
            text-align: center;
            padding: 5px 24px 5px 10px;
            border: 1px solid $accent-color;
            border-radius: 50px;
            background-color: transparent;
            color: $accent-color;
            font-size: 15px;
            font-weight: 500;
            line-height: 16px;
            cursor: default;
        }
        &__item-close {
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 50%;
            right: 10px;
            transform: translateY(-50%);
            width: 10px;
            height: 10px;
            border: none;
            background-color: transparent;
            cursor: pointer;
            transition: 0.3s ease background-color;
        }
    
        &__clear-btn {
            text-decoration: underline;
            background-color: transparent;
            text-decoration-skip-ink: none;
            white-space: nowrap;
            border: none;
            cursor: pointer;
        }
    
        &__open-btn {
            position: relative;
            padding: 10px 36px 10px 12px;
            min-width: 83px;
            text-align: left;
            border-radius: 6px;
            border: 1px solid $border-input;
            background-color: $light-color;
            user-select: none;
            cursor: pointer;
            .btn__text {
                font-weight: 500;
                color: $text-color;
            }
            input {
                position: absolute;
                padding: 10px 36px 10px 12px;
                border-radius: 6px;
                outline: none;
                border: none;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                width: 100%;
                opacity: 0;
                &.active {
                    opacity: 1;
                }
            }
            &:after {
                content: '';
                display: block;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateX(-50%) translateY(-50%) rotate(-180deg);
                width: 24px;
                height: 24px;
                background: url('../../../../../../assets/icons/sort/select-arrow.svg') center center/cover no-repeat;
            }
        }
        &__custom-fields {
            display: none;
            flex-direction: column;
            position: absolute; 
            max-height: var(--unitSelectHeight);
            overflow: auto;
            padding: 4px;
            row-gap: 2px;
            left: 0;
            right: 0;
            border-radius: 4px;
            border: 1px solid $border-input;
            background-color: $light-color;
            box-shadow: 0px 6px 12px 0px rgba(0, 0, 0, 0.1);
            z-index: 3;
            &::-webkit-scrollbar {
                width: 4px;
            }
            &::-webkit-scrollbar-track {
                background: white;
            }
            &::-webkit-scrollbar-thumb {
                background: $accent-color;
                border-radius: 20px;
            }
            &::-webkit-scrollbar-thumb:hover {
                background: $accent-color;
            }
        }
        &__field {
            position: relative;
            display: flex;
            border-radius: 4px;
            transition: 0.2s ease-out background-color;
        }
        &__label {
            padding: 8px 12px 8px 12px;
            display: block;
            width: 100%;
            color: $text-color;
            font-size: 14px;
            font-weight: 500;
            line-height: 20px;
            border-radius: 4px;
            border: 1px solid transparent;
            cursor: pointer;
            user-select: none;
            transition: 0.2s ease-out background-color, 0.2s ease-out border-color;
            &:hover {
                border-color: $border-input;
            }
        }
        &__input {
            appearance: none;
            position: absolute;
            &:checked ~ .sort-unit__label {
                background-color: #FAEDEB;
            }
            &:checked ~ .sort-unit__input-custom {
                background-color: $accent-color;
                border-color: $accent-color;
            }
        }
        &__accept-btn {
            padding: 8px 20px;
            border-radius: 6px;
            border: none;
            background: $accent-color;
            font-size: 14px;
            font-weight: 600;
            color: $light-color;
            user-select: none;
            cursor: pointer;
            transition: 0.2s ease-out background-color;
            &:hover {
                background-color: $second-accent-color;
            }
        }
    }
}
