.success-window {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: rgba(black, 0.4);
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 20px 50px;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s ease-out visibility, 0.2s ease-out opacity;
    &__block {
        position: relative;
        max-width: 500px;
        padding: 60px 60px 20px 60px;
        display: flex;
        gap: 50px;
        flex-direction: column;
        background-color: white;
        border-radius: 30px;
    }
    &__title {
        text-align: center;
        font-size: 30px;
        font-weight: 600;
        color: black;
        text-transform: uppercase;
    }
    &__links {
        display: flex;
        align-self: center;
        justify-content: space-around;
        gap: 20px;
        flex-wrap: wrap;
        width: 100%;
    }
    &__back, &__back-main {
        display: inline-block;
        background-color: rgb(0, 0, 0);
        padding: 10px 25px;
        border-radius: 10px;
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 600;
        transition: 0.1s ease-out background-color;
        &:hover {
            background-color: rgb(255, 103, 103);
        }
    }
    &__close {
        display: flex;
        position: absolute;
        right: -15px;
        top: -15px;
        background-color: transparent;
        border: none;
        &:after {
            content: 'x';
            width: 50px;
            height: 50px;
            border-radius: 50%;
            color: rgb(255, 255, 255);
            font-size: 40px;
            background-color: rgb(250, 62, 62);
            cursor: pointer;
            transition: 0.1s ease-out background-color, 0.1s ease-out color;
        }
        &:hover {
            &:after {
                background-color: rgb(209, 42, 42);
                color: rgb(206, 206, 206);
            }
        }
    }
    &.active {
        opacity: 1;
        visibility: visible;
    }
}
