$accent-color: #d24a34;
$second-accent-color: #df452c;
$text-color: #303030;
$light-color: #fdfdfd;
$border-input: #bebebe;
$ingredients: #959595;
$light-accent-bg: #faedeb;
$light-grey: #ededed;
$bgcolor: #292929;
$bgInputs: #f4f4f4;
