@font-face {
    font-family: 'SofiaSans';
    src: url('./SofiaSans-Light.ttf');
    font-weight: 300;
}
@font-face {
    font-family: 'SofiaSans';
    src: url('./SofiaSans-Regular.ttf');
    font-weight: 400;
}
@font-face {
    font-family: 'SofiaSans';
    src: url('./SofiaSans-Bold.ttf');
    font-weight: 700;
}