.recipe-list {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 40px 20px;
    &__item {
        display: flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
}
