.main {
    min-height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    .container {
        margin-top: 50px;
    }
    &__top {
        display: flex;
        justify-content: space-between;
        column-gap: 50px;
    }
}
