@use '../../../../styles/variables' as *;
.favorite-empty {
    // display: none;
    margin-top: 30px;
    grid-column-start: 1;
    grid-column-end: 5; 
    &__title {
        text-align: center;
        color: $bgcolor;
        font-size: 25px;
        font-weight: 600;
    }
    &__text {
        margin: 0 auto;
        margin-top: 37px;
        text-align: center;
        max-width: 593px;
        color: $bgcolor;
        font-size: 16px;
        font-weight: 500;
    }
    &__link-wrapper {
        display: flex;
        justify-content: center;
        margin-top: 30px;
    }
    &__link {
        display: inline-block;
        text-align: center;
        padding: 15px 20px;
        min-width: 250px;
        color: $light-color;
        background-color: $accent-color;
        border-radius: 6px;
        text-decoration: none;
        cursor: pointer;
    }
}
