.header {
    padding: 25px 0;
    border-bottom: 1px solid rgb(71, 71, 71);
    &__top {
        display: flex;
        gap: 20px;
        align-items: center;
    }
    &__logo.active {
        color: rgb(80, 92, 255);
        font-weight: 600;
    }
}