@use "../../styles/variables" as *;
.footer {
  margin-top: 120px;
  background-color: $bgcolor;
  min-height: 130px;
  padding: 40px 0;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__right-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  &__additional-info {
    margin: 0 auto;
    display: flex;
    align-items: center;
    gap: 31px;
    color: $light-color;
    font-size: 15px;
    font-weight: 500;
  }

  &__contacts {
    width: auto;
    flex-grow: 0;
    display: flex;
    gap: 20px;
  }
  &__link-dev,
  &__link-design {
    color: $light-color;
    font-size: 15px;
    font-weight: 500;
    text-decoration-skip-ink: none;
    text-underline-offset: 3px;
  }
}

@media screen and (max-width: 650px) {
  .footer {
    margin-top: 60px;
    padding: 20px 0;
    display: flex;
    .container {
      gap: 20px;
    }
    &__right-wrapper {
      flex-direction: column-reverse;
      align-items: end;
      gap: 20px;
    }
    &__contacts {
    }
    &__additional-info {
      margin: 0;
      flex-wrap: wrap;
      justify-content: flex-end;
      row-gap: 5px;
    }
  }
}
