@use '../../../../../styles/variables' as *;
.createdTag {
    padding: 5px;
    background-color: transparent;
    border-radius: 8px;
    transition: 0.2s ease-out background-color;
    &__input-title {
        display: block;
        border: none;
        background-color: transparent;
        width: 100%;
        padding: 5px 2px;
        outline: none;
        transition: 0.2s ease-out border-color;
        border-bottom: 1px solid transparent;
        font-size: 14px;
        &:focus {
            border-color: #030303;
        }
    }
    &__move-ingredient {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
        border-radius: 8px;
        background-color: transparent;
        border: none;
        color: $bgcolor;
        cursor: grab;
        touch-action: none;
        transition: 0.2s ease-out background-color, 0.2s ease-out color;
        &:hover {
            background-color: $light-color;
            color: $accent-color;
        }
    }
    &.dragged {
        position: relative;
        background-color: $light-color;
    }
}
