@use '../../../../styles/variables' as *;
.authentication{
    &__wrapper {
        position: relative;
        width: 400px;
        height: 100%;
        margin: auto 0;
        overflow: hidden;
    }
    &__block {
        position: absolute;
        top: 50%;
        transform: translateY(-50%) scale(0.93);
        visibility: hidden;
        opacity: 0;
        transition: 0.3s ease-out transform, 0.3s ease-out visibility, 0.2s ease-out opacity;
        &.active {
            visibility: visible;
            transform: translateY(-50%) scale(1);
            opacity: 1;
            transition: 0.3s ease-out transform, 0.3s ease-out visibility, 0.2s ease-out opacity;
            transition-delay: 0.2s;
        }
        &-title {
            font-weight: 700;
            font-size: 25px;
            line-height: 34px;
        }
        &-item {
            list-style-type: none;
            &:first-child {
                margin-top: 30px;
            }
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
        &-btn {
            margin-top: 25px;
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            width: 400px;
            height: 55px;
            background-color: transparent;
            border: 1px solid $text-color;
            border-radius: 6px;
            cursor: pointer;
            transition: 0.2s ease-out background-color, 0.2s ease-out color;
            &:hover {
                background-color: $text-color;
                color: $light-color;
            }
        }
        &-text {
            position: relative;
            .authentication__block-decorative {
                position: absolute;
                display: inline-block;
                left: -35px;
                top: 50%;
                transform: translateY(-50%);
                width: 25px;
                height: 25px;
            }
            .block-email {
                background: url('../../../../assets/icons/login/mail.svg') center center no-repeat;
            }
            .block-google {
                background: url('../../../../assets/icons/login/google.svg') center center no-repeat;
            }
            .block-facebook {
                background: url('../../../../assets/icons/login/facebook.svg') center center no-repeat;
            }
        }
        &.response {
            width: 100%;
        }
    }
    &__change-form {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 19px;
        font-weight: 500;
        &_link {
            margin-left: 5px;
            background-color: transparent;
            border: none;
            height: 17px;
            color: $text-color;
            text-decoration: underline;
            text-decoration-skip-ink: none;
            text-underline-offset: 3px;
            text-decoration-color: $text-color;
            transition: 0.2s ease-out color, 0.2s ease-out text-decoration;
            cursor: pointer;
            &:hover {
                color: $accent-color;
                text-decoration-color: $accent-color;
            }
        }
    }
    &__decorative-block {
        margin-top: 25px;
        position: relative;
        text-align: center;
        &:after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $text-color;
            top: 50%;
            transform: translateY(-50%);
        }
        &:after {
            right: 0;
        }
        .text {
            position: relative;
            display: inline-block;
            background-color: white;
            padding: 5px 10px;
            z-index: 2;
        }
    }
}

.authorization{
    &__window {

    }
    &__window-title {
        font-weight: 700;
        font-size: 25px;
        line-height: 34px;
    }
    .form-email {
        margin-top: 30px;
        &__input-wrapper {
            margin-top: 10px;
        }
        &__input {
            width: 100%;
            border: 1px solid #303030;
            border-radius: 6px;
            padding: 10px 20px;
            height: 55px;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
        }
        &__label-wrapper {
            user-select: none;
        }
        &__label-wrapper:not(:first-child) {
            margin-top: 10px;
        }
        .input-password {
            &__wrapper {
                position: relative;
            }
            &__hide-btn {
                position: absolute;
                top: 50%;
                right: 20px;
                width: 24px;
                height: 24px;
                transform: translateY(-50%);
                background: url('../../../../assets/icons/login/hide_show-pass.svg') center center/cover no-repeat;
                border: none;
                cursor: pointer;
            }
        }
        &__forgot-password {
            display: inline-block;
            margin-top: 15px;
            font-size: 15px;
            text-decoration-skip-ink: none;
            text-underline-offset: 3px;
            text-decoration-color: $text-color;
            color: $text-color;
            transition: 0.2s ease-out color, 0.2s ease-out text-decoration;
            &:hover {
                color: $accent-color;
                text-decoration-color: $accent-color;
            }
        }
        .remeber-me__wrapper {
            margin-top: 20px;
        }
        .remeber-me__label {
            position: relative;
            display: inline-flex;
            align-items: center;
            gap: 8px;
            padding-left: 2px;
            span {
                cursor: pointer;
                user-select: none;
            }
        }
        &__checkbox {
            display: block;
            width: 20px;
            height: 20px;
            padding-left: 2px;
            cursor: pointer;
            outline-offset: 0px;
            appearance: none;
            &:checked ~ .remeber-me__checkbox-default {
                display: none
            }
            &:checked ~ .remeber-me__checkbox-checked {
                display: block
            }
        }
        .remeber-me__checkbox-default, .remeber-me__checkbox-checked {
            display: block;
            position: absolute;
            left: 2px;
            top: 50%;
            transform: translateY(-50%);
            bottom: 0;
            width: 20px;
            height: 20px;
            background-color: #FDFDFD;
            border: 1px solid #B9B9B9;
            border-radius: 4px;
        }
        .remeber-me__checkbox-checked {
            display: none;
            background: url('../../../../assets/icons/login/checked.svg') center center/cover no-repeat;
            border: none;
        }
        &__submit {
            margin-top: 20px;
            height: 52px;
            &_forgot {
                margin-top: 20px;
                height: 52px;
                margin-top: 40px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .authentication {
        &__wrapper {
            position: relative;
            overflow: visible;
            width: 100%;
            max-width: 100%;
        }
        &__block-btn {
            width: 100%;
            width: 100%;
        }
        &__block {
            width: 100%;
            z-index: 999;
        }
    }
}
