.recipe-list {
    display: flex;
    column-gap: 1%;
    row-gap: 50px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 0;
    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        padding: 15px;
        width: 24%;
        min-width: 300px;
        background: #FFFFFF;
        box-shadow: 0px 0px 3px rgba(12, 26, 75, 0.24), 0px 3px 8px -1px rgba(50, 50, 71, 0.05);
        border-radius: 20px;
        &.favorite  {
            .recipe-list__favorite-btn svg path {
                fill: yellow;
            }
        }
    }
    &__img-wrapper {
        position: relative;
        border-radius: 10px;
        overflow: hidden;
        height: 290px;
    }
    &__image {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
    }
    &__content-wrapper {
        height: calc(100% - 290px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    &__title {
        margin-top: 15px;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        height: 50px;
        overflow: hidden;
    }
    &__timer {
        display: block;
        margin-top: 10px;
        padding-left: 25px;
        position: relative;
        font-weight: 600;
        font-size: 15px;
        &.active {
            &:after {
                content: '';
                position: absolute;
                right: 50%;
                left: 0px;
                width: 20px;
                height: 20px;
                background: url('../../resources/icons/timer-line2.svg') center center no-repeat;
            }
        }
    }
    .product-tags {
        position: relative;
        margin-top: 20px;
        display: flex;
        gap: 5px;
        overflow: hidden;
        &:after {
            content: '';
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 10px;
            height: 100%;
            background: linear-gradient(270deg, #FFFFFF 0%, #FFFFFF 22.4%, rgba(255, 255, 255, 0) 95.59%);
        }
        &__item-header {
            display: flex;
            align-items: center;
        }
        &__item {
            flex-shrink: 0;
            position: relative;
            min-width: 50px;
            text-align: center;
            padding: 5px 10px;
            background-color: #F0F0F0;
            border: 1px solid #B9B9B9;
            border-radius: 50px;
            cursor: default;
        }
    }
    &__more {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    &__more-link{
        padding: 7px 20px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 600;
        text-decoration: none;
        color: black;
        background-color: white;
        cursor: pointer;
        transition: 0.1s ease-in-out background-color, 0.1s ease-in-out color;
        &:hover {
            background-color: black;
            color: white;
        }
    }
    &__subtitle {
        flex-shrink: 0;
    }
    
    &__content-descr {
        padding: 20px 0;
        line-height: 130%;
        font-size: 18px;
    }
    &__favorite-btn {
        position: absolute;
        width: 25px;
        height: 25px;
        right: 25px;
        top: 25px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        svg path {
            transition: 0.2s ease fill;
        }
        &:hover {
            svg path {
                fill: red;
            }
        }
    }
}
