.authentication{
    &__wrapper {
        width: 400px;
        margin: auto 0;
        background-color:red;
        overflow: hidden;
    }
    &__block {
        visibility: hidden;
        display: none;
        &.active {
            visibility: visible;
            display: block;
        }
        &-title {
            font-weight: 700;
            font-size: 25px;
            line-height: 34px;
        }
        &-item {
            list-style-type: none;
            &:first-child {
                margin-top: 30px;
            }
            &:not(:first-child) {
                margin-top: 10px;
            }
        }
        &-btn {
            display: block;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            width: 400px;
            height: 55px;
            background-color: transparent;
            border: 1px solid #303030;
            border-radius: 6px;
            cursor: pointer;
        }
        &-text {
            position: relative;
            .authentication__block-decorative {
                position: absolute;
                display: inline-block;
                left: -35px;
                top: 50%;
                transform: translateY(-50%);
                width: 25px;
                height: 25px;
            }
            .block-email {
                background: url('../../resources/icons/login/mail.svg') center center no-repeat;
            }
            .block-google {
                background: url('../../resources/icons/login/google.svg') center center no-repeat;
            }
            .block-facebook {
                background: url('../../resources/icons/login/facebook.svg') center center no-repeat;
            }
        }
    }
    &__change-form {
        margin-top: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        line-height: 19px;
        font-weight: 500;
        button {
            margin-left: 5px;
            background-color: transparent;
            border: none;
            border-bottom: 0.5px solid black;
            height: 17px;
            cursor: pointer;
        }
    }
}
