@import './fonts/fonst.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'SofiaSans';
	font-weight: 400;
}

body {
	background-color: grey;
}

.container {
	max-width: 1400px;
	padding: 30px;
	margin: 0 auto;
}

input, textarea {
	outline-color: transparent;
	border-radius: 10px;
	border: none;
	padding: 5px 20px;
	min-height: 34px;
	transition: 0.3s ease outline-color;
}

textarea {
	resize: none;
}
input:focus, textarea:focus {
	outline-color: rgb(146, 146, 146);
}

ul, li {
	list-style-type: none;
}
