@import './fonts/fonst.scss';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: 'Manrope';
}

body {
	background-color: white;
}

.container {
	max-width: 1400px;
	padding: 0 30px;
	margin: 0 auto;
}

/* edit description form for recipe */
.ql-container { 
	font-size: inherit;
	border: none;
}
.ql-toolbar.ql-snow {
	border: none;
	border-bottom: 1px solid grey;
}
.ql-editor {
	min-height: 300px;
}
/* ---------------- */

input, textarea {
	outline-color: transparent;
	border-radius: 10px;
	border: none;
	padding: 5px 20px;
	min-height: 34px;
	background-color: lightgrey;
	transition: 0.3s ease outline-color;
}

textarea {
	resize: none;
}
input:focus, textarea:focus {
	outline-color: rgb(146, 146, 146);
}

