.about-recipe {
    position: relative;

    .recepie-page {
        padding: 50px 0;
        position: relative;
        &__edit {
            position: absolute;
            right: 0px;
            background: url('../../assets/icons/edit.svg') center center/cover no-repeat;
            width: 30px;
            height: 30px;
            border: none;
            cursor: pointer;
            transition: 0.2s ease-out background;
            &:hover {
                background: url('../../assets/icons/edit_active.svg') center center/cover no-repeat;
                transition: 0.2s ease-out background;
            }
        }
        &__title {
            text-align: center;
            font-size: 30px;
            padding: 0 10px;
        }
        &__photo {
            display: block;
            margin: 0 auto;
            margin-top: 50px;
            max-width: 100%;
            width: 900px;
            height: 600px;
            border-radius: 20px;
            object-fit: cover;
        }
        &__ingredients {
            margin-top: 50px;
            &-title {
                font-size: 24px;
                padding: 15px 0;
            }
            &-item {
                font-size: 18px;
                margin: 10px 20px 0;
                list-style-type: disc;
            }
        }
        &__cooking-descr {
            margin-top: 80px;
        }
        &__subtitle {
            margin-bottom: 30px;
            text-align: center;
            font-size: 24px;
        }
    }
}

